<%-include('../layouts/header.ejs')%>

<!-- Section: Design Block -->
<section class=" text-center text-lg-start">
    <style>
      .rounded-t-5 {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
      }
  
      @media (min-width: 992px) {
        .rounded-tr-lg-0 {
          border-top-right-radius: 0;
        }
  
        .rounded-bl-lg-5 {
          border-bottom-left-radius: 0.5rem;
        }
      }
    </style>
<!--     
    <div class="card mb-3">
      <div class="row g-0 d-flex align-items-center">
        <div class="col-lg-4 d-none d-lg-flex">
          <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" alt="Trendy Pants and Shoes"
            class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
        </div> -->
        
        <div class="col-lg-8">
          <div class="card-body py-5 px-md-5">
            
  
            <form action="/reset" method="post">
              <div>
                <h2 style="text-align: center;color: rgb(224, 24, 24);margin-bottom: 100PX;"> forgot password</h2>
              </div>
              <!-- Email input -->
              <div class="form-outline mb-4">
                <!-- <input type="email" id="form2Example1" class="form-control" /> -->
                <label class="form-label" for="form2Example1">Email address</label>
                <input type="email" name="email" placeholder="enter email"class="form-control"  >
                
              </div>
  
              <!-- Password input -->
           
              <!-- 2 column grid layout for inline styling -->
              <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                  <!-- Checkbox -->
             
                  
           
              <!-- Submit button -->
              <button type="submit" class="btn btn-dark btn-block mb-4">reset link</button>
              <div>
                <%
                if(typeof message!=='undefined')
                {
                    %>
                    <p style="color: red;"><%= message %></p>
                    <%
                }
                %>
                </div>

            </form>
            
        
            <%-include('../layouts/footer.ejs')%>